@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
body{
  background: black url("/ReactPortfolio/images/background.jpg")no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

.title{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  color:  rgb(50, 74, 153);
}

.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto;
  transform: rotate(-25deg);
}

a{
  color: blue;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 100%;
}

.mongooseicon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
}

